@model PieListViewModel
    <!--model lowercase tell the view that the model it will use is of type PieListViewModel-->
    <!-- What datatype  we put here is what we pass to our view object in the controller-->

<h1>@Model.CurrentCategory</h1>

<div class="row">
    <!--Model Uppercase tell the view to use the data passed to the view from the controller-->
    @foreach (var pie in Model.Pies)
    {
        <div class="col-md-3">
            <div class="thumbnail m-3">
                <img src="@pie.ImageThumbnailUrl" alt="">
                <div class="caption">
                    <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                    <h3>
                        <a>@pie.Name</a>
                    </h3>
                    <p>@pie.ShortDescription </p>
                   
                </div>
            </div>
        </div>
    }

</div>
